<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/pygment_trac.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
      <div class="wrapper">
        <header>
          <h1 class="title">{{ site.name }}</h1>
          <p></p>
          <p class="view"><a href="https://github.com/wangjohn">John J. Wang</a></p>
          <p class="view">MIT 2014</p>
          <p class="view">This is my blog, mostly concerned about my work with Ruby on Rails, but containing other small snippets as well which I find interesting.</p>
        </header>
      </div>
      <div class="content">
        {{ content }}
      </div>
      <div class="wrapper">
        <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
      </div>
      <script src="javascripts/scale.fix.js"></script>
    </body>
</html>
