---
layout: default
---
<div class="wrapper">
  <header>
    <h1>{{ site.name }}</h1>
    <p></p>
    <div class="main-image">
      <img src="images/me.jpg"></img>
    </div>
    <p><a href="http://web.mit.edu/wangjohn/www/">John J. Wang</a></p>
    <p class="view">I'm a software engineer working with Ruby, Python, and Java. I contribute to Ruby on Rails and am doing the 2013 Google Summer of Code to refactor Railties. This blog is mostly concerned about my work with Ruby on Rails, but will contain other miscellaneous topics.</p>
  </header>
</div>
<div class="content">
  {{ content }}
</div>
<div class="wrapper">
  <footer>
    <p class="view" style="float:left"><a href="https://github.com/wangjohn">Github</a></p>
    <p class="view" style="float:right"><a href="http://contributors.rubyonrails.org/contributors/john-j-wang/commits">Ruby on Rails Contributions</a></p>
  </footer>
</div>

